[Unit]
Description=Load nvidiagpu
DefaultDependencies=no
Conflicts=shutdown.target
Before=sysinit.target shutdown.target
Before=systemd-modules-load.service
After=local-fs.target
ConditionCapability=CAP_SYS_MODULE
ConditionKernelCommandLine=|!nogpu

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/modprobe-nvidiagpu.sh
TimeoutSec=90s
